* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 4vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 18vh);
}

.header {
    display: flex;
    grid-column: 1/13;
    grid-row: 1/2;
    font-weight: bold;
    font-size: x-large;
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
}

.main {
    grid-column: 1/9;
    grid-row: 2/5; 
    padding-top: 5vh;
    text-align: center;
    background-color: #fff8e3; 
    font-weight: bold;
    font-size: x-large;
}

.main_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feeab9;
    margin: 1.1vw;
    font-weight: bold;
    font-size: x-large;
}

#main_1 {
    grid-column: 1/5;
    grid-row: 3/4;
}

#main_2 {
    grid-column: 5/9;
    grid-row: 3/4;
}

#main_3 {
    grid-column: 1/9;
    grid-row: 4/5;
}

.sidebar {
    background-color: #ddeccb;
    grid-column: 9/13;
    grid-row: 2/5;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding-top: 5vh;
}


.footer {
    grid-column: 1/13;
    grid-row: 5/6;
    background-color: #e0e0e0;
}

.footer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    margin: 1.1vw;
    background-color: #ffffff;
}

#footer_1 {
    grid-column: 1/4;
    grid-row: 5/6;
}

#footer_2 {
    grid-column: 4/7;
    grid-row: 5/6;
}

#footer_3 {
    grid-column: 7/10;
    grid-row: 5/6;
}

#footer_4 {
    grid-column: 10/13;
    grid-row: 5/6;
}
